html {
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0;
  color: #636060;
  font-size: 1rem;
  background-color: antiquewhite;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2em;
  line-height: 2rem;
}
.css-bayan {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
}
.css-bayan-title {
  color: rgb(112, 129, 239);
}
.css-bayan-content {
  width: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 0.1rem solid rgb(112, 129, 239);
}
.content-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.content-btn {
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.content-btn-img {
  width: 0.8rem;
  height: 0.8rem;
  background-image: url('./assets/plus.svg');
  background-size: 100% 100%;
  transform: rotate(45deg);
  transition: all 0.7s ease 0s;
}
.content-img {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  display: none;
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.bayan-input {
  display: inline;
  appearance: none;
  width: 0;
  height: 0;
}
.content-img {
  cursor: grab;
}

/* H I D E */
.content-btn-img,
.content-btn-img + .content-label ~ div {
  display: none;
  transition: all 0.7s ease 0s;
}
/* C H E C K E D */
.bayan-input:checked ~ .content-label .content-img {
  display: block;
  overflow: visible;
  opacity: 1;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out 0s;
}
.bayan-input:checked + .content-label {
  color: rgb(255, 0, 221);
  border-bottom: 0;
  transition: all 0.7s ease-in-out 0s;
}
.content-btn-img:checked + .content-label + div {
  display: block; 
  opacity: 1;
  background: #0b0a0a;
  padding: 1rem;
}
.bayan-input:checked ~ .content-label .content-btn-img {
  width: 0.8rem;
  height: 0.8rem;
  /*background-image: url('./assets/cross.svg');*/
  filter: brightness(0) saturate(100%) invert(67%) sepia(72%) saturate(3351%) hue-rotate(297deg) brightness(103%) contrast(103%); /*colorPink*/
}
/* H O V E R */
.bayan-input:hover ~ .content-label {
  color: rgb(112, 129, 239);
}
.bayan-input:hover ~ .content-label .content-btn-img {
  opacity: 1;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  /*background-image: url('./assets/cross.svg');*/
  filter: brightness(0) saturate(100%) invert(54%) sepia(32%) saturate(1334%) hue-rotate(188deg) brightness(103%) contrast(86%); /*colorBlue*/
}
.css-bayan:hover .content-btn-img,
.css-bayan-content:hover .content-img,
.bayan-input:hover ~ .content-img {
  opacity: 1;
  display: block;
  transition: all 0.7s ease 0s;
}

/* A N I M A T I O N */
@-moz-keyframes fade {
  from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
  from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0; }
to { opacity: 1 }
}

/* M E D I A */
@media screen and (min-width: 500px) and (max-width: 1000px) {
  html, body {
    max-width: 100vw;
    max-height: 100vh;
    font-size: 1.2rem;
  }
  .css-bayan {
    width: 95vw;
  }
  .css-bayan-content, .content-btn {
    width: 22rem;
  }
}
@media screen and (min-width: 290px) and (max-width: 499.9px) {
  html, body {
    max-width: 100vw;
    max-height: 100vh;
    font-size: 1rem;
  }
  .css-bayan {
    width: 90vw;
  }
  .css-bayan-content, .content-btn {
    width: 17rem;
  }
}